html {
  position: relative;
  min-height: 100%;
}

/*Background Images*/
body {
  font-family: 'Arvo', serif;
	background: url("../../assets/images/planner.png") no-repeat center center;
	background-attachment: fixed;
	background-size: cover;
  font-family: 'Arvo', serif;
}


/*Style Jumbotron*/
.jumbotron {
  background-color: transparent;
  text-align: center;
  letter-spacing: 2.5px;
  margin-top: 150px;
  padding: 10px;
}

/*----Style footer---*/
.footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  padding-top: 10px;
  color: #d2e0e0;
}


/* Style Buttons */
.signup {
  margin-top: 50px
}

.green {
  background-color: rgba(114, 190, 35, 0.6);
}

.green:hover {
  background-color: rgb(114, 190, 35);
}



    form {
      margin-top: 50px;
    }

    p {
      text-align: center;
    }

/*Navigation Bar*/
.navbar-custom, .footer {
  background-color: #2f2b3d;
  border-color: #201d2a;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#46405b), to(#2f2b3d));
  background-image: -webkit-linear-gradient(top, #46405b, 0%, #2f2b3d, 100%);
  background-image: -moz-linear-gradient(top, #46405b 0%, #2f2b3d 100%);
  background-image: linear-gradient(to bottom, #46405b 0%, #2f2b3d 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff46405b', endColorstr='#ff2f2b3d', GradientType=0);
}
.navbar-custom .navbar-brand {
  color: #d2e0e0;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #b4cbcb;
  background-color: transparent;
}
.navbar-custom .navbar-text {
  color: #d2e0e0;
}
.navbar-custom .navbar-nav > li:last-child > a {
  border-right: 1px solid #201d2a;
}
.navbar-custom .navbar-nav > li > a {
  color: #d2e0e0;
  border-left: 1px solid #201d2a;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #a9a2bf;
  background-color: transparent;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #a9a2bf;
  background-color: #201d2a;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#201d2a), to(#373247));
  background-image: -webkit-linear-gradient(top, #201d2a, 0%, #373247, 100%);
  background-image: -moz-linear-gradient(top, #201d2a 0%, #373247 100%);
  background-image: linear-gradient(to bottom, #201d2a 0%, #373247 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff201d2a', endColorstr='#ff373247', GradientType=0);
}
.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-custom .navbar-toggle {
  border-color: #dddddd;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #dddddd;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #cccccc;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #1f1c28;
}
.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #a9a2bf;
  border-bottom-color: #a9a2bf;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  background-color: #201d2a;
  color: #a9a2bf;
}
.navbar-custom .navbar-nav > .open > a .caret,
.navbar-custom .navbar-nav > .open > a:hover .caret,
.navbar-custom .navbar-nav > .open > a:focus .caret {
  border-top-color: #a9a2bf;
  border-bottom-color: #a9a2bf;
}
.navbar-custom .navbar-nav > .dropdown > a .caret {
  border-top-color: #d2e0e0;
  border-bottom-color: #d2e0e0;
}
@media (max-width: 767) {
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #d2e0e0;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #a9a2bf;
    background-color: transparent;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #a9a2bf;
    background-color: #201d2a;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-custom .navbar-link {
  color: #d2e0e0;
}
.navbar-custom .navbar-link:hover {
  color: #a9a2bf;
}

